.dataCard-container{
  color: #0098f1;
  font-weight: 900;
  background-color: whitesmoke;
  padding: 20px;
  margin-bottom: 10px;
}
.dataCard-visualize {
  padding-top: 8px;
  display: flex;
}

.noun {
  background:#1F8A70;
  margin: 2px;
  color: aliceblue;
}

.verb {
  background:#301E67;
  margin: 2px;
  color: aliceblue;
}

.adv {
  background:#5B8FB9;
  margin: 2px;
  color: aliceblue;
}

.adj {
  background: #FC7300;
  margin: 2px;
  color: aliceblue;
}
.sentence-data {
  display: flex;
  flex-direction: column;
}
.chip-stack{
  display: flex;
  flex-wrap: wrap;
}